.login-container {
  height: 100vh;
  display: flex; flex-direction: column; align-items: center; justify-content: center;
  background: #000; color: #fff;
  font-family: 'Inter', sans-serif;
}

.login-title {
  margin-bottom: 60px; font-family: 'JetBrains Mono';
  color: var(--accent-blue); font-size: 2.5rem; letter-spacing: 4px;
  text-shadow: 0 0 20px rgba(56, 189, 248, 0.3);
}

.role-selection { display: flex; gap: 60px; }

.role-card {
  width: 280px; 
  height: 280px; 
  padding: 30px;
  border-radius: 16px; 
  cursor: pointer;
  background: rgba(255, 255, 255, 0.03);
  position: relative; 
  overflow: hidden;   
  transition: all 0.4s ease;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

.role-desc {
    font-size: 14px;
    color: #ccc;
    line-height: 1.5;
    margin: 0;
    transition: all 0.4s ease;
    opacity: 1;
    transform: translateY(0);
}

.role-card:hover .role-desc {
    opacity: 0;
    transform: translateY(-20px);
}

.icon-container {
    position: relative;
    width: 100px; height: 100px;
    display: flex; justify-content: center; align-items: center;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.default-icon {
    position: absolute; 
    opacity: 1;
    transition: opacity 0.3s ease;
}

.mask-reveal {
    position: absolute; 
    width: 100%; height: 100%;
    border-radius: 12px; 
    object-fit: cover;
    image-rendering: pixelated;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.role-card:hover .default-icon { opacity: 0; }

.role-card:hover .mask-reveal {
    opacity: 1;
    transform: scale(1.8);
}

.role-card h2 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 1px;
    transition: all 0.4s ease;
}

.role-card:hover h2 {
    transform: translateY(15px);
}

.glow-corner {
    position: absolute;
    width: 300px; height: 300px;
    bottom: -150px; 
    border-radius: 50%;
    filter: blur(70px);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    z-index: 0;
}

.role-white { border: 2px solid var(--accent-blue); }
.role-white:hover { box-shadow: 0 0 30px rgba(56, 189, 248, 0.15); }
.white-glow { background: var(--accent-blue); right: -150px; }

.role-black { border: 2px solid var(--accent-red); }
.role-black:hover { box-shadow: 0 0 30px rgba(248, 113, 113, 0.15); }
.black-glow { background: var(--accent-red); left: -150px; }

.role-card:hover .glow-corner { opacity: 0.5; }
.role-card:hover { transform: translateY(-5px); }

.white{
    color: #fff;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}